/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text-color: #F1B2CE;
  --text-color-dark: #000028;
  --accent-color: #FF0070;
  --header-color: #DB00FF;

  --bg-picture: url("../images/cover-image-dark.png");

  --main-font: 'IBM Plex mono', Arial, Helvetica, sans-serif;
  --font-small: 18px;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --line-height-normal: 23.4px;
}
